<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Cut Costs, Not Corners!</h2>
                </div>
            </div>
            <div class="row container">
                <p class="text-center">
                   What makes Duas Different?
                </p>

                <style>
                .video {
                position:relative;
                padding-bottom: 56.25%;
                height:0;
                overflow:hidden;
                align: middle;
                }
                .video iframe, .video object, .video embed {
                position: absolute;
                margin: auto;
                width: 100%;
                height: 100%;
                }
                </style>
                <div class="video"><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F2FNetworkWorld%2Fvideos%2f10154207314542105%2F&show_text=0&width=476" width="476" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></div><br>

                 <center><a href="mailto:corporate@duasamericasgroup.com" class="page-scroll btn btn-xl">CONTACT US</a></center>
            </div>
        </div>
    </section>