<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NX9T55J');</script>
<!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <meta property="og:ceo" content="Aslan Varoqua" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Duas Americas Group" />
    <!-- This site is optimized with the Yoast SEO plugin v4.3 - https://yoast.com/wordpress/plugins/seo/ -->

    <link property="canonical" href="https://duasamericas.com/" />

    <meta property="1st Vice President & COO" href="Aslan Varoqua"/>
    <meta property="2nd Vice President & CSO" href="Dawn Clark-Montenegro"/>
    <meta property="President & CEO" href="Aslan Varoqua"/>

    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="http://duasamericas.com/">
    <meta property="og:name" content="Duas Americas Group" />
    <meta property="og:image" content="http://duasamericasgroup.com/css/2016_style/img/logos/aslan-varoqua-greenblue-duas-logo.png" />
    <meta property="og:image" name="Duas Americas | Aslan Varoqua & Daniel Vieira" alt="Duas Americas | Aslan Varoqua & Daniel Vieira" content="http://duasamericasgroup.com/css/2016_style/img/logos/aslan-varoqua-greenblue-duas-logo.png" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Business consulting, information technology, and outsourcing services" />
    <meta name="twitter:title" content="Duas Americas | Digital Agency | Miami, NYC, SF, Sao Paulo" />
    <meta name="twitter:site" content="@duasamericas" />
    <meta name="twitter:image" content="http://duasamericasgroup.com/css/2016_style/img/logos/aslan-varoqua-greenblue-duas-logo.png" />
    <meta name="twitter:creator" content="@aslanvaroqua" />

    <script type="application/ld+json">{"name":"Duas Americas Group, Inc","description":"Duas Americas Group, Inc is an American Multinational Corporation that provides business consulting, information technology, and outsourcing services.","@type":"Organization", "CEO":"Aslan Varoqua", "COO": "Daniel Vieira", "CSO":"Dawn Clark-Montenegro", "url":"http://duasamericasgroup.com/","logo" :{"@type":"ImageObject","image":"http://duasamericasgroup.com/css/2016_style/img/logos/aslan-varoqua-greenblue-duas-logo.png", "url":"http://duasamericasgroup.com/"}},"@context":"http://schema.org"}</script>
    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "../css/2016_style/style.css" | prepend: site.baseurl }}">

    <!--Google Analytics SCRIPT-->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-80562835-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!--Google Analytics SCRIPT END-->

    <!--Remove image dragging -->
    <BODY ondragstart="return false;" ondrop="return false;">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "../css/2016_style/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- WEBSITE ICON IN BROWSER -->
    <link rel="icon" type="image/png" href="/css/2016_style/img/icon.png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
